*, *:before, *:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	--orange: #E27D60;
	--blue: #85CDCA;
	--yellow: #E8A87C;
	--red: #C38D9E;
	--green: #41B3A3;
}

.logo{
	width: 40px;
}

nav .logo{
	width: 100px;
}

nav a{
	text-decoration: none;
	color: black;
}

#exit-change-username{
	position: absolute;
	z-index: 5;
	top: 70px;
	right: 10px;
	color: white;
	font-size: 40px;
	display: none;
}

@keyframes exitenter{
	0%{
		pointer-events: none;
		opacity: 0;
	}

	100%{
		pointer-events: auto;
		opacity: 1;
	}
}

#loading{
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 4;
	top: 0;
	left: 0;
	display: none;
	align-items: center;
	justify-content: center;
	background: #d9d8da;
	opacity: 0.9;
}

#loading-text{
	position: absolute;
	z-index: 5;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Finger Paint', cursive;
	font-size: 35px;
	letter-spacing: 0.2em;
	margin-bottom: 40px;
}

@keyframes textFadeIn{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

#loading-circles-div{
	position: absolute;
	left: 25%;
}

.loading-circles{
	z-index: 4;
	position: absolute;
	width: 30px;
	height: 30px;
	background: grey;
	border-radius: 50%;
	bottom: -10vh;
}

#loading-circle2{
	margin-left: 88.5px;
}

#loading-circle3{
	margin-left: 175px;
}

@keyframes loadingFlyIn{
	0%{
		opacity: 0;
		bottom: -40vh;
	}

	50%{
		opacity: 1;
		bottom: -10vh;
	}

	100%{
		opacity: 0;
		bottom: 40vh;
	}
}

body::-webkit-scrollbar{
	width: 0;
}

#container::-webkit-scrollbar{
	width: 8px;
	background-color: white;
}

#container::-webkit-scrollbar-thumb{
	background-color: grey;
	border-radius: 10px;
}

@media screen and (max-width: 1080px){
	#container::-webkit-scrollbar{
		width: 0px;
	}
}

#container{
	width: 100vw;
	height: 100vh;
	background-color: var(--blue);/*#141B41 #C6D8D3*/
	font-family: 'Poppins', sans-serif;
	overflow-y: scroll;
	position: relative;	
}

#welcome-username{
	position: absolute;
	top: 70px;
	right: 0;
	width: fit-content;
	padding: 10px 20px;
	z-index: 3;
	background: seagreen;
	font-size: 5vw;
	opacity: 0;
	display: none;
}

@keyframes welcomeUsername{
	0%{
		opacity: 0;
	}

	30%{
		opacity: 1;
	}

	50%{
		opacity: 1;
	}

	70%{
		opacity: 1;
	}

	100%{
		opacity: 0;
	}
}


header{
	/*position: sticky;
	top: 0;
	right: 0;*/
	width: 100%;
	z-index: 2;
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: #60695C;
	align-items: center;
}

#search-area{
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#search-btn{
	font-size: 35px;
}

#search-bar-header{
	margin: 0 10px 0 0;
	width: 100%;
	border-radius: 5px;
	border: none;
	height: 30px;
}


@keyframes expand{
	0%{
		width: 0%;
	}

	100%{
		width: 100%;
	}
}

#header-menu, #user{
	color: white;
	font-size: 35px;
}

#user{
	position: relative;
}

#user-hover{
	display: none;
	position: absolute;
	top: 70px;
	right: 0px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: white;
	color: black;
	padding: 20px 40px;
	height: 110px;
	font-size: 17px;
	z-index: 1;
}

#change-name{
	position: absolute;
	z-index: 4;
	width: 100vw;
	height: 100vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: hsla(0, 0%, 40%, 0.7);
}

#change-name>div{
	background: white;
	border-radius: 7px;
	padding: 40px;
}

#change-name > div > p{
	margin-bottom: 40px;
}

#change-name-form{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#new-username-field{
	height: 30px;
	padding-left: 10px;
	font-family: 'Poppins', cursive;
}

.link{
	display: flex;
}

nav{
	position: sticky;
	top: 0;
	z-index: 1;
	height: 100vh;
	width: 50vw;
	background-color: darkseagreen;
	display: flex;
	flex-direction: column;
	padding: 30px 0 0 30px;
	font-size: 20px;
	margin-left: -50vw;
}

@keyframes showMenu{
	0%{
		margin-left: -50vw;
	}

	100%{
		margin-left: 0vw;
	}
}

@keyframes hideMenu{
	0%{
		margin-left: 0vw;
	}

	100%{
		margin-left: -50vw;
	}
}

nav>*{
	padding-bottom: 20px;
}

main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	width: 100%;
	top: 70px;
	left: 0;
}

#welcome-section{
	height: 380px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: hsla(300, 100%, 25%, 0.5);
	/*background: linear-gradient(315deg, #0000ff, #ff0000);*/
    /*background-size: 400% 400%;*/
    /*animation: flowing 40s ease infinite;*/
	/*background-size: 400% 400%;*/
	width: 100%;
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
}

@keyframes flowing{    
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}

#welcome{
	font-size: 40px;
}

#search-area-main{
	width: 90%;
}

.search{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#search-bar-main{
	width: 90%;
	border-radius: 30px;
	border: none;
	height: 40px;
}

#search-btn-main{
	font-size: 40px;
}

button[type='submit']{
	background: transparent;
	border: none;
	color: white;
}

input[type='search']{
	padding: 0 10px;
}


#search{
	display: none;
	position: absolute;
	z-index: 1;
	height: 100vh;
	width: 100vw;
	top: 0px;/*change both top and left*/
	left: 0px;
	overflow-y: auto;
	background: white;
}

@keyframes flyI{/*change to flyIn*/
	0%{
		top: -850px;
		left: -440px;
		opacity: 0;
	}

	100%{
		top: 0px;
		left: 0px;
		opacity: 1;
	}
}

#search-response{
	background: hsla(0, 0%, 100%, 0.9);	
	text-align: center;
	padding: 20px 0;
	background: linear-gradient(90deg, #e6faff 75%, transparent);
	border-bottom: 1px solid grey;
}

.search-image{
	width: 130px;
	border-radius: 10px;
	margin-left: 20px;
	background-color: grey;
}

.search-info{
	display: flex;
	align-items: center;
	background: hsla(0, 0%, 100%, 1.0);
	color: black;
	position: relative;
	text-decoration: none;
	height: 250px;
	border-bottom: 1px dashed black;
	animation: changeBg 0.5s ease-out 2s forwards;
}

.circular-portrait, .popular-circular-portrait{
	margin-left: 20px;
	 position: relative;
	 width: 120px;
	 height: 120px;
	 overflow: hidden;
	 border-radius: 50%;
}

.popular-circular-portrait{
	margin-left: 0px;
	width: 150px;
	height: 150px;
}

.search-person-image, .popular-person-image{
	 width: 100%;
	 height: auto;
}

@keyframes changeBg{
	0%{
		background: white;
	}

	100%{
		background: linear-gradient(90deg, #e6faff 75%, transparent);
	}
}

/*.search-info:hover{
	animation: enlarge 1s forwards;
}

@keyframes enlarge{
	100%{		
		transform: scale(1.1);
		opacity: 0.7;
		background: white;
	}
}*/

.search-rating{
	position: absolute;
	top: 0px;
	right: 0px;
	color: white;
	text-align: center;
	padding: 7px 30px;
}

.search-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 20px 0 20px;
	width: calc(100% - 130px);
}

.search-result-description{
	height: 65px;
	overflow: hidden;
	font-size: 14px;
}

.search-result-date{
	text-align: right;
	margin-top: 10px;
	position: absolute;
	bottom: 20px;
	right: 25px;
}


#trending-section{
	padding: 50px 0 20px 0;
	background-color: hsla(163, 19%, 81%, 0.85);
	width: 100%;
}

#trending-movies-div, #popular-movies-div{
	overflow-x: scroll;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
}

@keyframes fakeLoading{
	0%{
		opacity: 0.1;
		background: grey;
	}

	100%{
		opacity:1;
		background: transparent;
	}
}

.category-image{
	width: 175px;
	border-radius: 10px;
	position: absolute;
	z-index: 2;
	height: 262.5px;
}

.skeletonImg{
	/*animation: skeletonImg 2s infinite linear;	*/
	background: hsl(0, 0%, 75%);
}

@keyframes skeletonImg{
	0%{
		background: hsl(0, 0%, 45%);
	}

	50%{
		background: hsl(0, 0%, 75%);
	}

	100%{
		background: hsl(0, 0%, 45%);
	}
}

.category-movies{
	display: flex;
	flex-direction: column;
	align-items: center;
	/*background: #FDF0D5;*/
	width: 200px;
	margin: 30px 20px;
	border-radius: 10px;
	height: 350px;
	position: relative;
}

.movie-first-info{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 270px;
}

.movie-title, .movie-release-date{
	margin-top: 5px;
	text-align: center;
}

.skeletonText{	
	background: hsl(0, 0%, 75%);
	background: linear-gradient(90deg, hsl(0, 0%, 75%), hsl(0, 0%, 45%));
	animation: skeletonText 2s infinite linear;
	width: 180px;
	height: 25px;
	text-align: left !important;
}

@keyframes skeletonText{
	0%{
		opacity: 1;
	}

	50%{
		opacity: 0.3;
	}

	100%{
		opacity: 1;
	}
}

.movie-title{
	text-align: center;
}

.movie-link{
	color: black;
	text-decoration: none;
}

.rating{
	position: absolute;
	background-color: grey;/*remove*/
	color: white;
	padding: 2px 15px;
	z-index: 3;
	right: 0%;
}

.rating-bg{
	background-color: grey;
	width: 60px;
	height: 29px;
	display: inline-block;
	position: absolute;
	z-index: 1;
	right: -2px;
	top: 33px;
	transform: rotateZ(-60deg);
}

#trending-header, #popular-header{	
	margin-left: 20px;
	background: linear-gradient(90deg, #cc33ff, transparent 50%);
	background-size: 30px 2px;
	background-repeat: repeat-x;
	background-position: 0 100%;
	width: fit-content;
	animation: moving 1s infinite linear;
}

@keyframes moving{
	0%{
		background-position: 0 100%;
	}

	100%{
		background-position:  30px 100%;
	}
}

#trending-choice, #popular-choice{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
	border: 1px solid grey;
	width: fit-content;
	border-radius: 8px;
}

.options{
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: 5px 10px;
	transition: all 1s;
	border-radius: 8px;
	font-size: 3.85vw;
	font-size: clamp(3.5vw, 3.85vw, 20px);
}

.options:active{	
	background: #120D31;
}

#time-window{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
	border: 1px solid grey;
	width: fit-content;
	border-radius: 8px;
}

#trending-section>div, #popular-section>div{
	margin: 0 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#popular-section{
	padding: 50px 0 20px 0;
	background-color: hsla(172, 47%, 48%, 0.85);
	width: 100%;
	opacity: 0;
}

@keyframes comeIn{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}