body{
  --tw-bg-opacity: 1;
  background-color: rgb(230 250 255 / var(--tw-bg-opacity));
}

#favourite{
  position: relative;
  top: var(--top);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}

@media (min-width: 1024px){
  #favourite{
    width: var(--calcLeft);
  }
}

.favourite-options{
  font-size: clamp(13px, 4.3vw, 17px);
  display: inline-block;
  cursor: pointer;
  border-radius: 0.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}

#favourite-choice{
  background: hsla(0, 0%, 0%, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.favourite-image{
  margin-left: 1.25rem;
  width: 130px;
  border-radius: 0.5rem;
}

.favourite-info{
  position: relative;
  display: flex;
  height: 250px;
  align-items: center;
  border-bottom-width: 1px;
  border-style: dashed;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.favourite-person-image, .popular-person-image{
  background: hsl(0, 0%, 75%);
  aspect-ratio: 2 / 3;
  height: auto;
  width: 100%;
  max-width: 175px;
  border-radius: 0.5rem
}

.favourite-person-image{
  margin-left: 1.25rem;
  width: 130px;
}

.favourite-rating{
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.favourite-text{
  width: calc(100% - 130px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1.25rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.favourite-result-description{
  height: 5rem;
  overflow: hidden;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.favourite-result-date{
  font-size: min(16px, 4vw);
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
  margin-top: 0.75rem;
  text-align: right
}

.favourite-result-title{
  font-weight: 500;
}