#main2{
  background: hwb(0deg 0% 100% / 50%);
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#quickinfo1{
  background-color: hsla(0, 0%, 100%, 0.9);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
}

#quickinfo2{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

#quickinfo2>div, #overview{
  font-size: min(4.5vw, 16px);
}

.quickinfo--headers{
  font-size: min(5vw, 18px);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

#main-image{
  margin-right: 1.75rem;
  width: 50%;
  max-width: 175px;
  border-radius: 0.375rem;
}

#cast{
  overflow-x: auto;
}

.cast-members-img, .more{
  background: hsl(0, 0%, 75%);
  aspect-ratio: 2 / 3;
  height: auto;
  min-width: 150px;
  border-radius: 0.375rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.subtext{
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

#avnumber, #vcnumber, #dvalue{
  text-align: center;
  font-size: 27px;
}

.info-text{
  font-size: 20px;
}

#movieTitle{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

#background{
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  height: 100vh;
  opacity: 0.8;
  --tw-brightness: brightness(0.4);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

#overview-div>*{
  padding-inline: 20px;
  color: white;
}

#tagline{
  color: hsl(0, 0%, 90%);
  display: block;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.cast-real-name{
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.cast-name{
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

#casts--parent-div{
  position: relative;
  padding-left: 1.25rem;
}

#cast{
  margin-top: 2.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: row;
  align-items: flex-start;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

#back-to-begin{
  position: absolute;
  top: 50%;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  cursor: pointer;
  font-size: 3rem;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

#blur{
  background: linear-gradient(90deg, transparent, hsl(0, 0%, 70%));
  position: absolute;
  right: 0px;
  top: 4rem;
  bottom: 0px;
  width: 2.25rem
}

.more{
  min-width: 150px;
  height: 225.17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

.more-link{
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#production-companies--container{
  grid-template-columns:repeat(auto-fit,minmax(170px,1fr));
}

.each-production-company-div{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.production-companies--image{
  margin-bottom: 0.5rem;
  width: 5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.production-companies--name{
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.recommendationsTitleAndDate{
  color: white;
}