#homePageBackground{
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  --tw-blur: blur(2px);
  --tw-brightness: brightness(.5);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

#main1{
  position: relative;
  top: var(--top);
  left: 0px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.headings{
  font-weight: 500;
}

#welcome-section{
  background-color: hsla(31, 49%, 72%, 0.4);
  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  height: 380px;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dark #welcome-section{
  background-color: hsla(193, 100%, 24%, 0.85);
}

#welcome{
  text-align: center;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

#search-area-main{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#search-bar-main{
  margin-left: auto;
  margin-right: auto;
  height: 2.5rem;
  width: 100%;
  max-width: 500px;
  border-radius: 1.5rem;
  border-width: 0px;
}

#trending-section{
  /*background-color: hsla(163, 19%, 81%, 0.85);*/
  background-color: hsla(192, 44%, 85%, 0.85);
  width: 100%;
  padding-top: 50px;
  padding-bottom: 1.25rem;
}

.dark #trending-section{
  background-color: hsla(193, 100%, 20%, 0.85);
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.section-link{
  cursor: pointer;
}

#trending-movies-div, #popular-movies-div, #coming-soon-div{
  margin-top: 0.75rem;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
}

.category-image, .popular-person-image{
  position: relative;
  z-index: 1;
  aspect-ratio: 2 / 3;
  height: auto;
  width: 100%;
  max-width: 175px;
  border-radius: 0.5rem;
}

.category-movies{
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  display: flex;
  width: 12.5rem;
  flex-direction: column;
  align-items: center;
  border-radius: 0.75rem;
}

.movie-first-info{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.movie-title, .movie-release-date{
  margin-top: 0.375rem;
  text-align: center;
}

.dark .movie-title, .dark .movie-release-date{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.movie-link{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.rating{
  background-color: grey;
  /*remove*/
  position: absolute;
  right: 0px;
  z-index: 2;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 15px;
  padding-right: 15px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.rating-bg{
  background-color: grey;
  transform: rotateZ(-60deg);
  position: absolute;
  right: -0.125rem;
  top: 33px;
  z-index: 0;
  display: inline-block;
  height: 29px;
  width: 60px
}

#trending-header, #popular-header, #upcoming--header{
  background: linear-gradient(90deg, #cc33ff, transparent 50%);
  background-size: 30px 2px;
  background-repeat: repeat-x;
  background-position: 0 100%;
  margin-left: 1.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.dark #trending-header, .dark #popular-header, .dark #upcoming--header{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 1024px){
  #trending-header, #popular-header, #upcoming--header{
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

#trending-choice, #popular-choice{
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}

.dark #trending-choice, .dark #popular-choice{
  background-color: transparent;
}

.options{
  font-size: clamp(13px, 4.3vw, 17px);
  display: inline-block;
  border-radius: 0.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}

@media (prefers-reduced-motion: reduce){
  .options{
    transition-property: none;
  }
}

.options:active{
  background: #120D31;
}

#time-window{
  margin-top: 0.75rem;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}

.dark #time-window{
  background-color: transparent;
}

@media (min-width: 640px){
  #time-window{
    margin-left: 2.5rem;
  }
}

#trending-section>div, #popular-section>div{
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 640px){
  #trending-section>div, #popular-section>div{
    flex-direction: row;
  }

  #trending-section>div, #popular-section>div{
    justify-content: center;
  }
}

#popular-coming-soon-section{
  background-color: hsla(209, 33%, 74%, 0.85)
}

.dark #popular-coming-soon-section{
  background-color: hsla(193, 100%, 16%, 0.85);
}

#popular-section{
  width: 100%;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(156 163 175 / var(--tw-border-opacity));
  padding-top: 50px;
  padding-bottom: 1.25rem;
  opacity: 0;
}

@-webkit-keyframes comeIn{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@keyframes comeIn{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}