@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:before, *:after{
	@apply p-0 m-0 scroll-smooth box-border;
}

:root{
	--orange: #E27D60;
	/*--blue: #85CDCA;*/
	--blue: hsla(178°, 42%, 66%, 0.5);
	--yellow: #E8A87C;
	--red: #C38D9E;
	--green: #41B3A3;
	--top: 70px;
	--left: 15rem;
}

body{
	font-family: 'Fredoka', sans-serif; 
	@apply dark:bg-greenishblue-900;
}

.logo{
	@apply w-10 h-10 mr-3;
}

body::-webkit-scrollbar{
	@apply w-0 lg:w-2
}

body::-webkit-scrollbar-thumb{
	@apply rounded-lg bg-gray-500 hover:bg-white;
}

body::-webkit-scrollbar-track {
  @apply bg-black;/* color of the tracking area */
}

.horizontal::-webkit-scrollbar{
	@apply hidden lg:block lg:h-2;
}

@media (pointer:  fine), (pointer:  coarse){
	.horizontal::-webkit-scrollbar{
		@apply block h-2;
	}
}

.horizontal::-webkit-scrollbar-thumb{
	@apply bg-gray-500 rounded-lg hover:bg-white;
}

@media (pointer:  fine), (pointer:  coarse){
	.horizontal::-webkit-scrollbar{
		@apply block;
	}
}



header{/*#60695C*/
	@apply fixed top-0 right-0 w-full z-4 flex flex-row justify-between items-center bg-[#F1FFC4] px-5 py-2.5 h-[var(--top)] lg:left-[var(--left)] dark:bg-greenishblue-800;
}

input[type='search']{
	@apply px-3 bg-gray-300 text-black dark:bg-gray-400 focus:bg-white;
}

input{
	@apply focus-visible:outline-0 focus:outline-0 cursor-text text-black
}

#large-screen-nav{
	@apply hidden lg:block fixed left-0 top-0 bottom-0 z-3 w-[var(--left)] bg-[#FFCAAF] pt-6 dark:bg-greenishblue-700;
}

#large-screen-nav--logo{
	@apply w-24 h-24 relative left-1/2 -translate-x-1/2
}

#large-screen-nav--menu{
	@apply flex flex-col relative top-1/4 -translate-y-1/4
}

.large-screen-nav-menu--children{
	@apply ml-8 my-6 flex items-center hover:border-r-2 border-red-500 active:border-r-2;
}

.large-screen-nav-menu--children-icon{
	@apply text-xl w-5 h-5;
}

.large-screen-nav--menu-text{
	@apply ml-2 no-underline text-gray-600 text-lg font-medium hover:text-black dark:text-white dark:hover:text-gray-500;
}

#container{/*#141B41 #C6D8D3*/
	background-color: var(--blue);
	@apply relative h-fit w-full lg:left-[var(--left)];
}

@media (min-width: 1024px){
	#container, header{
		width: calc(100% - var(--left));
	}
}

a{	
	font-family: 'Fredoka', sans-serif;
}

#header-menu{
	@apply text-black text-[35px] ml-3 cursor-pointer lg:hidden;
}

.link{
	display: flex;
}

#search-bar-header{
	@apply w-full mx-auto rounded-md border-0 h-7 max-w-[400px];
}

#nav{
	width: min(20rem, 70vw);
	background-color: darkseagreen;
	margin-left: min(-20rem, -70vw);
	@apply fixed top-0 z-3 h-screen flex flex-col pt-24 pl-7 text-xl lg:hidden dark:bg-greenishblue-700;
}

@keyframes showMenu{
	0%{
		margin-left: -70vw;
	}

	100%{
		margin-left: 0vw;
	}
}

@keyframes hideMenu{
	0%{
		margin-left: 0vw;
	}

	100%{
		margin-left: -70vw;
	}
}

#nav>*{
	@apply pb-6 hover:text-white dark:hover:text-gray-300 dark:text-white;
}

.skeletonImg{
	background: hsl(0, 0%, 75%);
}

svg, ion-icon{
	@apply dark:text-white !important;
}