.like{
	transition: fill 0.5s;
	@apply w-8 h-8 stroke-white mx-auto my-3 fill-transparent cursor-pointer ;
}

#main2{
	background: hwb(0deg 0% 100% / 50%);
	@apply block h-fit absolute w-full top-[var(--top)] left-0 dark:bg-greenishblueopacity-900;
}

.headings{
	@apply font-medium
}

#quickinfo1{
	background-color: hsla(0, 0%, 100%, 0.9);
	@apply flex flex-row justify-between items-center p-5 lg:px-[5vw];
}

.dark #quickinfo1{
	background-color: hsla(0, 0%, 90%, 0.9);
}

#quickinfo2{
	@apply text-white w-full h-fit flex flex-row justify-center items-center px-2 mt-8 gap-x-3 lg:gap-x-20;
}

#quickinfo2>div, #overview{
	font-size: min(4.5vw, 17px);
}

.quickinfo--headers{
	font-size: clamp(14px, 4vw, 20px);
	@apply underline;
}

#main-image{
	@apply w-1/2 max-w-[175px] rounded-md lg:max-w-[250px];
}

#cast{
	overflow-x: auto;
}

.cast-members-img{
	background: hsl(0, 0%, 75%);
	@apply min-w-[150px] h-auto object-cover rounded-md aspect-[2/3];
}

.more{}

.subtext{
	@apply text-gray-500 text-sm text-center lg:text-base;
}

#avnumber, #vcnumber, #dvalue{
	@apply text-center text-[27px];
}

.info-text{
	font-size: 20px;
}

#movieTitle{
	@apply text-center text-xl text-white my-5
}

#background{
	@apply fixed inset-0 h-screen z-0 brightness-[0.4] opacity-100;
}

#overview-div>*{
	@apply px-5 text-white;
}

#tagline{
	color: hsl(0, 0%, 100%);
	@apply px-5 text-lg block text-center;
}

.cast-real-name{
	@apply mt-2 text-base text-white text-center lg:text-base;
}

.cast-name{
	@apply text-sm text-white mb-2 text-center lg:text-base;
}

#casts--parent-div{
	@apply relative pl-5;
}

#cast{
	@apply overflow-x-scroll overflow-y-hidden mt-9 mb-5 gap-x-8 h-fit flex flex-row items-start;
}

#back-to-begin{
	@apply absolute top-1/2 text-5xl text-white -translate-y-1/2 cursor-pointer;
}

.category-image, .person-other-image{
	@apply w-full max-w-[175px] h-auto rounded-lg relative z-1 aspect-[2/3] ;
}

.category-movies{
	@apply relative flex flex-col items-center w-[12.5rem] my-4 mx-5 rounded-xl
}

.movie-title{
	@apply mt-1.5 text-center
}

.movie-link{
	@apply text-black no-underline;
}

.rating{
	background-color: grey;/*remove*/
	@apply absolute text-white py-0.5 px-[15px] z-2 right-0;
}

.rating-bg{
	background-color: grey;
	transform: rotateZ(-60deg);
	@apply w-[60px] h-[29px] inline-block absolute z-0 -right-0.5 top-[33px]
}

#blur{
	background: linear-gradient(90deg, transparent, hsl(0, 0%, 70%));
	@apply absolute right-0 top-16 bottom-0 w-9 
}

.more{
	@apply max-w-[150px] h-[225.17px] flex flex-row justify-center items-center text-xl text-white;
}

.more-link{
	@apply text-white no-underline cursor-pointer; 
}

#production-companies--container{
	grid-template-columns:repeat(auto-fit,minmax(170px,1fr));
}

.each-production-company-div{
	@apply flex flex-col items-center px-4 justify-center my-3 
}

.production-companies--image{
	@apply w-20 mb-2 bg-white
}

.production-companies--name{
	@apply text-white text-lg text-center;
}

.recommendationsTitleAndDate{
	@apply text-white;
}

.as{
	@apply text-center text-lg text-white;
}

.person-other-image{
	@apply m-4 cursor-pointer;
}