body{
	@apply bg-[#e6faff] dark:bg-greenishblue-900;
}

#search{
	@apply h-fit w-screen bg-gray-400 relative top-[var(--top)] lg:w-[var(--calcLeft)];
}

.search-options{
	font-size: clamp(13px, 4.3vw, 17px);
	@apply text-white inline-block py-[5px] px-3 transition-[all] duration-1000 rounded-lg cursor-pointer;
}

#search-choice{
	@apply flex items-center justify-evenly bg-gray-700
}

#search-response{
	@apply text-black text-center py-5 border-b border-b-gray-500 font-semibold dark:bg-greenishblue-700 dark:text-white;
}

.search-image{
	@apply w-[130px] rounded-lg ml-5 aspect-[2/3];
}

.search-info{
	@apply flex items-center bg-white text-black relative no-underline h-[250px] border-b border-black border-dashed dark:bg-greenishblueopacity-700 dark:text-white dark:border-white;
}

@media (prefers-color-scheme: light){
	.search-info{
		animation: changeBg 0.5s ease-out 2s forwards;
	}
	#search-response{
		background: linear-gradient(90deg, #e6faff 75%, transparent);
	}
}

.search-person-image, .popular-person-image{
	background: hsl(0, 0%, 75%);
	@apply w-full h-auto aspect-[2/3] max-w-[175px] rounded-lg
}

.search-person-image{
	@apply w-[130px] ml-5;
}

@keyframes changeBg{
	0%{
		background: white;
	}

	100%{
		background: linear-gradient(90deg, #e6faff 75%, transparent);
	}
}

.search-rating{
	@apply absolute top-0 right-0 text-white text-center py-2 px-8;
}

.search-text{
	width: calc(100% - 130px);
	@apply flex flex-col justify-center pt-5 pr-5 pl-5;
}

.search-result-description{
	@apply h-20 overflow-hidden text-sm lg:text-base;
}

.search-result-date{
	font-size: min(16px, 4vw);
	@apply text-right mt-3 absolute bottom-5 right-5
}

.search-result-title{
	@apply font-medium mb-2 lg:text-lg
}