@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:before, *:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	--orange: #E27D60;
	/*--blue: #85CDCA;*/
	--blue: hsla(178°, 42%, 66%, 0.5);
	--yellow: #E8A87C;
	--red: #C38D9E;
	--green: #41B3A3;
	--top: 70px;
}

.logo{
	@apply w-10 h-10 mr-3;
}

@media screen and (max-width: 1080px){
	#container::-webkit-scrollbar{
		width: 0px;
	}
}

@media screen and (min-width: 1000px){
	body::-webkit-scrollbar{
		width: 0;
	}

	#container::-webkit-scrollbar{
		width: 8px;
		background-color: white;
	}

	#container::-webkit-scrollbar-thumb{
		background-color: grey;
		border-radius: 10px;
	}
}

#container{/*#141B41 #C6D8D3*/
	font-family: 'Poppins', sans-serif;
	background-color: var(--blue);
	@apply relative h-fit w-full
}


header{/*#60695C*/
	@apply sticky top-0 right-0 w-full z-2 flex flex-row justify-between items-center bg-[#F1FFC4] px-5 py-2.5 h-[var(--top)]
}

#search-choice{
	background: hsla(0, 0%, 100%, 0.5);
	@apply flex items-center justify-evenly;
}

#search-bar-header{
	@apply w-full mx-auto rounded-md border-0 h-7;
}

#header-menu{
	@apply text-black text-[35px] ml-3
}

.link{
	display: flex;
}

nav{
	position: fixed;
	top: 0px;
	z-index: 1;
	height: 100vh;
	width: 70vw;
	background-color: darkseagreen;
	display: flex;
	flex-direction: column;
	padding: 100px 0 0 30px;
	font-size: 20px;
	margin-left: -70vw;
}

@keyframes showMenu{
	0%{
		margin-left: -70vw;
	}

	100%{
		margin-left: 0vw;
	}
}

@keyframes hideMenu{
	0%{
		margin-left: 0vw;
	}

	100%{
		margin-left: -70vw;
	}
}

nav>*{
	padding-bottom: 20px;
}

#main1, #main2{
	@apply flex flex-col justify-center absolute w-full top-[var(--top)] left-0
}

#welcome-section{
	height: 380px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	/*background: hsla(300, 100%, 25%, 0.5);*/
	background-color: hsla(31, 49%, 72%, 0.5);
	/*background: linear-gradient(315deg, #0000ff, #ff0000);*/
    /*background-size: 400% 400%;*/
    /*animation: flowing 40s ease infinite;*/
	/*background-size: 400% 400%;*/
	width: 100%;
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
}

@keyframes flowing{    
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}

.headings{
	@apply font-bold
}

#welcome{
	@apply text-4xl text-center;
}

#search-area-main{
	@apply w-4/5;
}

#search-bar-main{
	@apply mx-auto w-full h-10 border-0 rounded-3xl;
}

#search-btn-main{
	font-size: 40px;
}

input[type='search']{
	@apply px-3 bg-gray-300 text-black;
}

input{
	@apply focus-visible:outline-0 focus:outline-0 cursor-text text-black
}


#search{
	@apply h-fit w-screen overflow-y-auto bg-gray-400;
}

#search-response{
	background: hsla(0, 0%, 100%, 0.9);	
	text-align: center;
	padding: 20px 0;
	background: linear-gradient(90deg, #e6faff 75%, transparent);
	border-bottom: 1px solid grey;
}

.search-image{
	width: 130px;
	border-radius: 10px;
	margin-left: 20px;
	background-color: grey;
}

.search-info{
	display: flex;
	align-items: center;
	background: hsla(0, 0%, 100%, 1.0);
	color: black;
	position: relative;
	text-decoration: none;
	height: 250px;
	border-bottom: 1px dashed black;
	animation: changeBg 0.5s ease-out 2s forwards;
}

.search-person-image, .popular-person-image{
	background: hsl(0, 0%, 75%);
	@apply w-full h-auto aspect-[2/3] max-w-[175px] rounded-lg
}

.search-person-image{
	@apply w-[130px] ml-5;
}

@keyframes changeBg{
	0%{
		background: white;
	}

	100%{
		background: linear-gradient(90deg, #e6faff 75%, transparent);
	}
}

.search-rating{
	position: absolute;
	top: 0px;
	right: 0px;
	color: white;
	text-align: center;
	padding: 7px 30px;
}

.search-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 20px 0 20px;
	width: calc(100% - 130px);
}

.search-result-description{
	height: 65px;
	overflow: hidden;
	font-size: 14px;
}

.search-result-date{
	text-align: right;
	margin-top: 10px;
	position: absolute;
	bottom: 20px;
	right: 25px;
}


#trending-section{
	padding: 50px 0 20px 0;
	/*background-color: hsla(163, 19%, 81%, 0.85);*/
	background-color: hsla(192, 44%, 85%, 0.85);
	width: 100%;
}

.section-link{
	@apply cursor-pointer
}

#trending-movies-div, #popular-movies-div, #cast{
	@apply overflow-x-scroll overflow-y-hidden flex flex-row mt-3;
}

.category-image{
	@apply w-full max-w-[175px] h-auto rounded-lg relative z-2 aspect-[2/3] ;
}

.skeletonImg{
	/*animation: skeletonImg 2s infinite linear;	*/
	background: hsl(0, 0%, 75%);
}

/*@keyframes skeletonImg{
	0%{
		background: hsl(0, 0%, 45%);
	}

	50%{
		background: hsl(0, 0%, 75%);
	}

	100%{
		background: hsl(0, 0%, 45%);
	}
}*/

.category-movies{
	@apply relative flex flex-col items-center w-[12.5rem] my-4 mx-5 rounded-xl
}

.movie-first-info{
	@apply flex flex-col justify-between mt-4 text-lg;
}

.movie-title, .movie-release-date{
	@apply mt-1.5 text-center;
}

.movie-title{
	@apply text-center
}

.movie-link{
	@apply text-black no-underline;
}

.rating{
	position: absolute;
	background-color: grey;/*remove*/
	color: white;
	padding: 2px 15px;
	z-index: 3;
	right: 0%;
}

.rating-bg{
	background-color: grey;
	width: 60px;
	height: 29px;
	display: inline-block;
	position: absolute;
	z-index: 1;
	right: -2px;
	top: 33px;
	transform: rotateZ(-60deg);
}

#trending-header, #popular-header{	
	margin-left: 20px;
	background: linear-gradient(90deg, #cc33ff, transparent 50%);
	background-size: 30px 2px;
	background-repeat: repeat-x;
	background-position: 0 100%;
	width: fit-content;
	/*animation: moving 1s infinite linear;*/
	@apply font-bold text-xl
}

@keyframes moving{
	0%{
		background-position: 0 100%;
	}

	100%{
		background-position:  30px 100%;
	}
}

#trending-choice, #popular-choice{
	width: fit-content;
	@apply flex items-center mt-3 border border-gray-500 rounded-lg
}

.options, .search-options{
	font-size: clamp(13px, 3.85vw, 17px);
	@apply text-white inline-block py-[5px] px-3 transition-[all] duration-1000 rounded-lg;
}

.options:active{	
	background: #120D31;
}

#time-window{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
	border: 1px solid grey;
	width: fit-content;
	border-radius: 8px;
}

#trending-section>div, #popular-section>div{
	@apply mx-5 flex flex-col items-center;
}

#popular-section{
	padding: 50px 0 20px 0;
	/*background-color: hsla(172, 47%, 48%, 0.85);*/
	background-color: hsla(209, 33%, 74%, 0.85);
	width: 100%;
	opacity: 0;
}

@keyframes comeIn{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}