#main1{
	@apply flex flex-col justify-center relative w-full top-[var(--top)] left-0
}

.headings{
	@apply font-medium
}

#welcome-section{
	background-color: hsla(31, 49%, 72%, 0.5);
	font-family: 'Montserrat Alternates', sans-serif;
	@apply h-[380px] flex flex-col justify-evenly w-full text-white dark:bg-greenishblueopacity-500;
}

#welcome{
	@apply text-4xl text-center;
}

#search-area-main{
	@apply w-4/5 mx-auto;
}

#search-bar-main{
	@apply mx-auto w-full h-10 border-0 rounded-3xl max-w-[500px];
}

#trending-section{
	/*background-color: hsla(163, 19%, 81%, 0.85);*/
	background-color: hsla(192, 44%, 85%, 0.85);
	@apply pt-[50px] pb-5 w-full dark:bg-greenishblueopacity-600 dark:text-white;
}

.section-link{
	@apply cursor-pointer
}

#trending-movies-div, #popular-movies-div{
	@apply overflow-x-scroll overflow-y-hidden flex flex-row mt-3;
}

.category-image, .popular-person-image{
	@apply w-full max-w-[175px] h-auto rounded-lg relative z-1 aspect-[2/3] ;
}

.category-movies{
	@apply relative flex flex-col items-center w-[12.5rem] my-4 mx-5 rounded-xl
}

.movie-first-info{
	@apply flex flex-col justify-between mt-4 text-lg;
}

.movie-title, .movie-release-date{
	@apply mt-1.5 text-center dark:text-white;
}

.movie-link{
	@apply text-black no-underline;
}

.rating{
	background-color: grey;/*remove*/
	@apply absolute text-white py-0.5 px-[15px] z-2 right-0;
}

.rating-bg{
	background-color: grey;
	transform: rotateZ(-60deg);
	@apply w-[60px] h-[29px] inline-block absolute z-0 -right-0.5 top-[33px]
}

#trending-header, #popular-header{
	background: linear-gradient(90deg, #cc33ff, transparent 50%);
	background-size: 30px 2px;
	background-repeat: repeat-x;
	background-position: 0 100%;
	@apply font-semibold text-xl ml-5 w-fit lg:text-2xl dark:text-white;
}

#trending-choice, #popular-choice{
	width: fit-content;
	@apply flex items-center mt-3 border border-gray-500 rounded-lg
}

.options{
	font-size: clamp(13px, 4.3vw, 17px);
	@apply text-white inline-block py-[5px] px-3 transition-[all] duration-1000 rounded-lg;
}

.options:active{	
	background: #120D31;
}

#time-window{
	@apply flex items-center mt-3 border border-gray-500 w-fit rounded-lg sm:ml-10;
}

#trending-section>div, #popular-section>div{
	@apply mx-5 flex flex-col items-center sm:flex-row sm:justify-center;
}

#popular-section{
	/*background-color: hsla(172, 47%, 48%, 0.85);*/
	background-color: hsla(209, 33%, 74%, 0.85);
	@apply pt-[50px] pb-5 w-full opacity-0 dark:bg-greenishblueopacity-700;
}

@keyframes comeIn{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}